body {
  background-color: linear-gradient(to bottom right, #90ee90, #ff6ec7);
}
h1 {
  text-align: center;
  font-size: 60;
  color: blue;
}
h2 {
  text-align: left;
  font-size: 40;
  color: blue;
}
head {
  text-align: center;
  font-size: 100;
  color: blue;
}
